{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row my-5">
<div class="col-4 d-flex justify-content-center align-items-center">
<img src="{% static 'css/images/samikshya.jpg' %}" class="about_image">
</div>
<div>


</div class="col-4 text-left text0light">
<h2 class="heading">Hello!</h2>
<p class="about">
 My name is Samikshya RanaBhat and I’m currently an undergraduate student majoring in Computer Science . I have a strong passion for technology and problem-solving, which led me to this field.
Throughout my studies, I’ve been exploring various areas, including software development. I love working on projects that challenge me creatively and technically, and I enjoy collaborating with others to bring ideas to life.
I’m excited to continue learning and growing in this dynamic field, and I look forward to sharing experiences and knowledge with all of you!
</div>
<div class= "images">
    <h2 class="text-center" style="color:red">My Tech Stack</h2>
    <img src="{% static 'css/images/c.png' %}" class="cplus">
    <img src="{% static 'css/images/c++.png' %}" class="cprogram">
    <img src="{% static 'css/images/html.png' %}" class="html">
    <img src="{% static 'css/images/css.png' %}" class="css">
    <img src="{% static 'css/images/python.png' %}" class="python">
    <img src="{% static 'css/images/django.png' %}" class="django">
    <img src="{% static 'css/images/github.png' %}" class="github">


</div>







{% endblock content %}