{% extends "base.html" %}
{% load static %}
{% block content %} 
<div class="row my-5">
  <div class="col-12 d-flex justify-content-center align-items-center">
<div class="circular-image-container">
  <img class="circular-image" src="{% static 'css/images/samikshya.jpg' %}">
</div>
</div>
<div class="col-12 text-center mt-3">
  <h3 class="title">Hi, My name is</h3>
  <div class="name">
<h1>Samikshya RanaBhat</h1>
<h1>A Computer Science Student.</h1>

<h4>As a dedicated computer science student, I am passionate about</h4><h4> exploring the vast field of technology and its applications. </h4>
  <h4>  My curiosity drives me to stay updated with the latest industry trends.
</h4>
  </div>
</div>

<div class="col-12 text-center mt-3">
  <div class="col-12 d-flex justify-content-center align-items-center">
  <a href="https://www.linkedin.com/in/samikshya-ranabhat-7a29b72a6" target="_blank" class="ma-3">
    <img src="{% static 'css/images/linekdin.png' %}" width="50" height="50" class="social_links">
  </a>
  <a href="https://www.instagram.com/samikshyaranabhat_/profilecard/?igsh=MWdxcG8xb3Y1b3Rzcg==
" target="_blank" class="ms-3">
    <img src="{% static 'css/images/insta.jpg' %}" width="50" height="50"class="social_links">
  </a>

  <a href="https://www.facebook.com/samikshya.ranabhat.14" target="_blank" class="ms-3">
    <img src="{% static 'css/images/fb.png' %}" width="50" height="50"class="social_links" >
  </a>
</div>



</div>
</div>

{% endblock content %}

